/* RESET CSS*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding-top:140px;
    font-family:sans-serif;
}

/*container*/
.container-header{
    min-width: 1300px;
    margin: 0 auto;
    display:flex
}

img{
   display: block;
   max-width: 100%;
}
/* header*/

header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #FF6900;
    box-shadow:  0 0 5px #666;
    position: fixed;
    top: 0;
    right: 0;
}
.gender-col{
    width:calc(100% / 3 );
}

.list-gender{
    display: flex;  
    list-style-type: none;
    gap: 10px;
    align-items: center;
    height: 70px;
    justify-content: flex-start;
    flex-basis: 25%;
}

.list-gender a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
}

.logo-col{
    width:calc(100% / 3 );
    
}

.logo-row{
    display: flex;  
    height: 70px;
    justify-content:center;
    padding: 20px;
}

#logo{
    cursor: pointer;
}

.icon-col{
    width:calc(100% / 3 );
}

.list-icon{
    display: flex;  
    list-style-type: none;
    gap: 10px;
    align-items: center;
    height: 70px;
    justify-content: flex-end;
    flex-basis: 25%;
}

.list-icon a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
}

/*main*/
.container{
    width: 1300px;
    margin: 0 auto;
}

.prod-row {
    display: flex;  
    gap: 20px;
    height: 700px;
    margin-bottom: 40px;
}

.prod-col{
    width: calc(100% / 3);
    height: 300px;  
}

.prod-col ul{
    list-style-type: none;
    margin-top: 3px;
}

.prod-price{
    color: #ff0000;
    font-weight: bold;
}

.old-price{
    color: #666;
    text-decoration-line: line-through;
}

.card:hover #relaxed-fit-tee{
    content: url(..//img/1b.webp);
}

.card:hover #roses-tee{
    content: url(..//img/2b.webp);
}
.card:hover #come-zucchero{
    content: url(..//img/3b.webp);
}
.card:hover #tee-unisex{
    content: url(..//img/4b.webp);
}
.card:hover #maya-deluxe{
    content: url(..//img/5b.webp);
}
.card:hover #maglione-black{
    content: url(..//img/6b.webp);
}
